@import '~antd/dist/antd.css';

.App {
  text-align: center;
  min-width: 320px;
}

.App-header {
  background-color: #ccc;
  color: #595959;
  font-size: 2.3em;
  height: 80px;
  padding: 20px;
  text-transform: uppercase;
  vertical-align: middle;
}

.App-title {
  font-size: 1.5em;
}

.App-menu {
  display: flex;
  justify-content: space-evenly;
}

.App-menu-items {
  margin: 0 2em;
  font-size: 1.5em;
}

.App-body {
  margin: 1em;
  max-height: 500px;
  overflow: hidden;
}

.App-footer {

}

.App-intro {
  font-size: large;
}

.Home-slideshow-images {
  display: none;
  max-width: 1363px;
  width: 100%;
  animation: slideshow 2s;
}

@keyframes slideshow {
  from {opacity: 0.2};
  to {opacity: 1};
}
